# Dependency directories
node_modules/
**/node_modules/
jspm_packages/
web_modules/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
backend/.env
frontend/.env

#virtual environment
venv/
env/
.myenv/
backend/venv/
backend/env/
backend/.venv/
backend/.env/
backend/.myenv/


# Build outputs
dist/
build/
out/
.next/
.nuxt/
.cache/

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vercel deployment artifacts
.vercel/

# System Files
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Testing
coverage/

# Backup/temp files
*.bak
*.tmp
*.temp

# Scraper output
scraper.js
endpoints.txt
faqs.json


